:root {
    --primary-color: #1A4B84;
    --chathams_blue: #1A4B84;
    --tamarillo: #991E14;
    --yellow_sea: #FEAD06;
}

header .navbar {
    padding: 20px 0 0;
}

header h3 {
    font: normal normal 600 18px/27px Oswald;
    color: #fff;
}

.label{
    text-align: center;
}
#validationResult{
    text-align: center;
}
header h4 {
    font: normal normal 600 18px/28px Oswald;
    letter-spacing: 0.36px;
    color: #191919;
    text-transform: uppercase;
}

header p {
    font: 600 12px/15px Poppins;
    letter-spacing: 0.24px;
    color: #191919;
}

.container {
    text-align: start;

}   
.container p{
    text-align: justify;
}

.ReactTitle {
    background-color: #838383;
    height: 50px;
    font: normal normal 600 19px/27px Oswald;
    letter-spacing: 0.38px;
    color: #FFFFFF;
    text-transform: uppercase;
    text-align: center;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
}
.footer-dark {
    background-color: var(--primary-color);
    color: #fff;
}

.theme-switch {
    margin: 0 5px;
    padding: 10px;
    font-size: 0.5rem;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.theme-switch-chathams_blue {
    background-color: var(--chathams_blue);
}

.theme-switch-chathams_blue:hover {
  box-shadow: 2px 2px 2px var(--chathams_blue);
}

.theme-switch-tamarillo {
    background-color: var(--tamarillo);
}

.theme-switch-tamarillo:hover {
  box-shadow: 2px 2px 2px var(--tamarillo);
}

.theme-switch-yellow_sea {
    background-color: var(--yellow_sea);
}

.theme-switch-yellow_sea:hover {
  box-shadow: 2px 2px 2px var(--yellow_sea);
}